{% extends 'base.html' %}


{% block head %}

<style type="text/css">

.itembox{
  padding-left: 150px;
}

</style>

{% endblock %}
  

{% block crumbs %}
<h1 class="pull-left">Current Raffles!</h1>
{% endblock %}


{% block content %} 
        
        <div class='row'>
              <div class='col-md-12'>
                {% for r in raffle %}
                <div class="panel panel-default tag-box tag-box-v2">
                  <!-- <div class="panel-body"> -->
                  <div>
                    <img src="{{MEDIA_URL}}{{r.image}}" height="70" class='pull-left'>
                  </div>
                  <div class='itembox'>
                    <h4><a href="{% url 'raffle' r.slug %}">{{r.shortdesc}}</a></h4>
                    <span>{{r.charity.name}} |  </span><span>{{r.sponsor.name}} | </span><span>{{r.expiretime}}</span>
                  </div>
                  <!-- </div> -->
                </div>
                {% endfor %}
 
              </div>
          </div>

{% endblock %}





{% block scripts %}


{% endblock %}



