{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	body {
	color: rgb(180, 180, 180);
	}

</style>
{% endblock %}


{% block content %}

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1 id='fulltime'></h1>
        </div>
        
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use if need be, too.</p>
        <ul>
        	<li>todos</li>
        	<li>quotes</li>
        	<li>news</li>
        	<li>generic lists</li>
        </ul>
      </div>

{% endblock %}

{% block scripts %}


<script>

function updateClock(){

    var fulltime = moment().format('MMMM Do YYYY, h:mm a');
    $('#fulltime').html(fulltime)

}


$(document).ready(function(){
	updateClock()
   setInterval('updateClock()', 10000);
});
</script>

{% endblock %}
