{% extends 'base.html' %}


{% block head %}

{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
              <h1 id='mainheader'>Welcome</h1>

            </div>
          </div>
        </div>
        
        <div class='row'>
              <div class='col-md-8'>

this is the homepage

              </div>



              <div class='col-md-4'>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                  </div>
                  <div class="panel-body">
                    <button type="button" class="btn btn-primary">Get Raffle Tickets</button>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">How Your Money Helps</h3>
                  </div>
                  <div class="panel-body">
                  </div>
                </div>

            </div>
          </div>


{% endblock %}





{% block scripts %}
<script>

function updateClock(){
    var fulltime = moment().format('MMMM Do YYYY, h:mm a');
    $('#fulltime').html(fulltime)
}

$(document).ready(function(){
	updateClock()
   setInterval('updateClock()', 10000);
});

$(function(){
    $('.itemrow').mouseenter(function(){
        $(this).find('.choicesrow').show();
    });
    $('.itemrow').mouseleave(function(){
        $(this).find('.choicesrow').hide();
    });
});

$(function(){
    $('#id_listfk').addClass('form-control');
    $('#id_url').addClass('form-control').attr('placeholder', "Link");
    $('#id_text').addClass('form-control').attr('placeholder', "Text");
    $('#id_title').addClass('form-control').attr('placeholder', "Item");
});

$(function(){
  var $container = $('#masonjar');
  // initialize
  $container.masonry({
    columnWidth: 285,
    itemSelector: '.masonitem'
  });

  $('.masonitem').css('width', '270');

});

</script>


<script type="text/javascript">

if($(".masonitem").length == 0) {
    var tour = {
      id: "hello-hopscotch",
      steps: [
        {
          title: "Welcome",
          content: "Welcome to SimpleHomepage.",
          target: "mainheader",
          placement: "right"
        },
        {
          title: "Add Item",
          content: "Once you create a list, add an item here",
          target: 'additem',
          placement: "top"
        },
        {
          title: "Add List",
          content: "Click here to go the the page to create a list",
          target: 'listlink',
          placement: "right",
          yOffset: -10
        },
        {
          title: "Top Sites",
          content: "You can add frequently visited sites... ",
          target: 'topsites',
          placement: "right",
        },
        {
          title: "Add Top Sites",
          content: "By going to manage widgets",
          target: 'widgetlink',
          placement: "bottom",
        },        
      ]
    };

    // Start the tour!
    hopscotch.startTour(tour);
};

</script>

{% endblock %}



