{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	body {
	  color: rgb(120, 120, 120);
	}

  form{
    display: inline-block;
  }

  .maincolor{
    color:rgb(79, 159, 207)
  }

  .blue-hover:hover{
      color: blue;
      cursor:pointer;
  }
  .green-hover:hover{
      color: green;
      cursor:pointer;
  }
  .red-hover:hover{
      color: red;
      cursor:pointer;
  }

  .choicesrow{
    display: none;
  }
  .itemrow td a{
    color:rgb(180,180,180);
  }

  .struck{
    text-decoration: line-through;
  }
  .del-check{
    line-height: 0;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 3px;
    background: none;
  }
</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>

              <div class='col-md-7'>
              <h1 class='maincolor' id='mainheader'>{%if user.is_authenticated%}{{request.user|capfirst}}{%endif%}</h1>
              <h3 id='fulltime'></h3>
              <ul class="nav nav-pills">
                <li id='listlink'><a href="/list">Lists</a></li>
                <li id='widgetlink'><a href="/managewidgets">Manage Widgets</a></li>
              </ul>
              </div>

              <div class='col-md-5' style='margin-top:20px'>
                <blockquote>
                  <p style='font-size:1.2em'>It is amazing how complete is the delusion that beauty is goodness</p>
                  <small>Leo Tolstoy,  <cite title="Source Title">The Kreutzer Sonata</cite></small>
                </blockquote>
              </div>

            </div>
          </div>
        </div>
        
          <form method='post' class="form-inline" role="form" >{% csrf_token %}
            <div class="form-group">{{form.listfk}}</div>
            <div class="form-group">{{form.title}}</div>            
            <div class="form-group">{{form.url}}</div>
            <div class="form-group">{{form.text}}</div>
            <button type="submit" class="btn btn-default" name='additem' id='additem'>Add Item</button>
          </form>
<hr>
        <div class='row'>
          <div class='col-md-12'>
              <div class='col-md-6'>
                  <table class="table table-hover table-condensed">
                    <thead>
                      <tr id='topsites'>
                        <th>Top Sites</th>
                      </tr>
                    </thead> 
                    <tbody>
                      {% for site in topsites %}<tr><td><a href="{{site.url}}">{{site.name}}</a> - {{site.description}}</td></tr>{% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class='col-md-6'>

              </div>
            </div>
          </div>

        <div class='row'>
          <div class='col-md-12'>
              <div id='masonjar'>
              {% for l in lists%}
               <div class='masonitem'>
                  <table class="table table-hover table-condensed">
                    <thead>
                      <tr class='itemrow'>
                        <th><span class='glyphicon {{l.icon}}'></span> {{l.name}}</th>
                        <th>
                           <div class='choicesrow pull-right'>
                                <form method='post'>{% csrf_token %}
                                  <input type='hidden' value='{{l.id}}' name='id'> 
                                  <button type='submit' name='deletelist' class='btn btn-xs red-hover del-check'><span class='glyphicon glyphicon-trash'></span></button>
                                </form>   
                            </div>
                        </th>
                      </tr>
                    </thead> 
                   <tbody>
                      {% for i in items %}{% ifequal l.name i.listfk.name%}
                      <tr class='itemrow'>
                        {% if not i.complete%}
                          {% if i.url %}<td><a href="{{i.url}}">{{i.title}}</A></td>
                          {% else %}<td>{{i.title}}</td>{% endif %}
                          <td>
                            <div class='choicesrow pull-right'>
                                <form method='post' >{% csrf_token %}
                                  <input type='hidden' value='{{i.id}}' name='id'>  
                                  <button type='submit' name='check' class='btn btn-xs green-hover del-check'><span class='glyphicon glyphicon-ok'></span></button>
                                </form>
                                <form method='post'>{% csrf_token %}
                                  <input type='hidden' value='{{i.id}}' name='id'> 
                                  <button type='submit' name='delete' class='btn btn-xs red-hover del-check'><span class='glyphicon glyphicon-trash'></span></button>
                                </form>   
                            </div>
                          </td>
                        {% else %}
                          {% if i.url %}<td class='struck'><a href="{{i.url}}">{{i.title}}</a></td>
                          {% else %}<td class='struck'>{{i.title}}</td>{% endif %}
                          <td>
                            <div class='choicesrow pull-right'>
                                <form method='post' class='form-inline'>{% csrf_token %}
                                  <input type='hidden' value='{{i.id}}' name='id'>  
                                  <button type='submit' name='delete' class='btn btn-xs red-hover del-check'><span class='glyphicon glyphicon-trash'></span></button>
                                </form>   
                            </div>
                          </td>  
                        {% endif %}
                      </tr>
                       {% endifequal %}{% endfor %}
                       <tr class='itemrow'>
                          <td></td>
                          <td style="height:30px">
                            <div class='choicesrow pull-right'>
                                <form method='post' >{% csrf_token %}
                                  <input type='hidden' value='{{l.id}}' name='id'>  
                                  <button type='submit' name='additem' class='btn btn-xs green-hover del-check'><span class='glyphicon glyphicon-plus'></span></button>
                                </form>
                            </div>
                          </td>
                       </tr>
                    </tbody>
                  </table>
               </div>   
             {% endfor %}
           </div> <!--end of mason jar container-->
          </div>
        </div>
{% endblock %}





{% block scripts %}
<script>

function updateClock(){
    var fulltime = moment().format('MMMM Do YYYY, h:mm a');
    $('#fulltime').html(fulltime)
}

$(document).ready(function(){
	updateClock()
   setInterval('updateClock()', 10000);
});

$(function(){
    $('.itemrow').mouseenter(function(){
        $(this).find('.choicesrow').show();
    });
    $('.itemrow').mouseleave(function(){
        $(this).find('.choicesrow').hide();
    });
});

$(function(){
    $('#id_listfk').addClass('form-control');
    $('#id_url').addClass('form-control').attr('placeholder', "Link");
    $('#id_text').addClass('form-control').attr('placeholder', "Text");
    $('#id_title').addClass('form-control').attr('placeholder', "Item");
});

$(function(){
  var $container = $('#masonjar');
  // initialize
  $container.masonry({
    columnWidth: 285,
    itemSelector: '.masonitem'
  });

  $('.masonitem').css('width', '270');

});

</script>


<script type="text/javascript">

if($(".masonitem").length == 0) {
    var tour = {
      id: "hello-hopscotch",
      steps: [
        {
          title: "Welcome",
          content: "Welcome to SimpleHomepage.",
          target: "mainheader",
          placement: "right"
        },
        {
          title: "Add Item",
          content: "Once you create a list, add an item here",
          target: 'additem',
          placement: "top"
        },
        {
          title: "Add List",
          content: "Click here to go the the page to create a list",
          target: 'listlink',
          placement: "right",
          yOffset: -10
        },
        {
          title: "Top Sites",
          content: "You can add frequently visited sites... ",
          target: 'topsites',
          placement: "right",
        },
        {
          title: "Add Top Sites",
          content: "By going to manage widgets",
          target: 'widgetlink',
          placement: "bottom",
        },        
      ]
    };

    // Start the tour!
    hopscotch.startTour(tour);
};

</script>

{% endblock %}



