{% extends "base.html" %}
{% load i18n %}

{% block content %}



<h2>Thank you for supporting the charities!  Come back soon!</h2>

<br>
<ul class="list-unstyled" style='font-size:2em'>
  <li><span class="glyphicon glyphicon-ok"></span>  Helped local charities</li>
  <li><span class="glyphicon glyphicon-ok"></span>  Got a chance to win big</li>
  <li><span class="glyphicon glyphicon-ok"></span>  Did good deed of the day</li>
</ul>


<a href="/accounts/login" class='btn btn-primary'>Sign In Again</a>

{% endblock %}
