<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />{% load staticfiles %}
		<title></title>

		<meta name="description" content="" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	</head>

	<body>

	</body>
</hmtl>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Simple Homepage {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
		{% block head %}{% endblock %}
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
		{% block content %}{% endblock %}
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    
  </body>
</html>